---
layout: default
---

<h1>{{ page.name }}</h1>

<p>{{ page.intro }}</p>

<h2>Tournaments</h2>

{% assign tournaments = site.data.tournaments %}
{% assign games = site.data.games %}

<ul>
{% for t_id in tournaments %}
  {% assign t = t_id[1] %}
  {% if t.country == page.slug %}
    {% assign game = games | where: "slug", t.game | first %}

    <li>
      <strong>{{ game.name }}</strong> –
      <a href="{{ t.bga_url }}" target="_blank">BGA tournament link</a>
      <br>
      Status: {{ t.status }}
      <br>
      Top 4:
      <ul>
        {% for p in t.top4 %}
          <li>{{ p.rank }} – {{ p.name }}</li>
        {% endfor %}
      </ul>
    </li>

  {% endif %}
{% endfor %}
</ul>
