<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} · Around the World in Eighty Games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>
        <a href="{{ '/' | relative_url }}">
          Around the World in Eighty Games
        </a>
      </h1>
      <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ site.baseurl }}/index/">Home</a>

        <a href="{{ '/games/' | relative_url }}">Games</a>
        <a href="{{ site.baseurl }}/games/">Games</a>

        <a href="{{ site.baseurl }}/countries/">Countries</a>

        <a href="{{ '/results/' | relative_url }}">Results</a>
        <a href="{{ site.baseurl }}/results/">Results</a>

        <a href="{{ '/map/' | relative_url }}">Map</a>
        <a href="{{ site.baseurl }}/map/">Map</a>

      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>© {{ site.time | date: '%Y' }}</p>
    </footer>
  </body>
</html>
